<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Rectangle Checker</title>
  </head>
  <body>
    <h2>It is a square?</h2>
    <p>Your rectangle's length is @Model["ResultingRectangle"].GetLength() </p>
    <p>Your rectangle's width is @Model["ResultingRectangle"].GetWidth() </p>

    @if (@Model["ResultingRectangle"].Issquare())
    {
      <h4>Hazzah! you have found a magical square!</h4>
      <p>Surface area: @Model["ResultingCube"].GetSurfaceArea()</p>
      <p>Volume of cube: @Model["ResultingCube"].GetVolume()</p>
    }
    else {
      <h4>This is not a square this shall bring shame upon your family for a thousand generations. :(</h4>
    }
    <p>
      The area of your rectangle is @Model["ResultingCube"].GetSurfaceArea().
    </p>
    <p>
      <a href="/"> Make a second attempt to reclaim your honor!</a>
    </p>
  </body>
</html>
